@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 4px;
  border-radius: 4px;
  background-color: #444444;
  color: white;
}

@keyframes showSubPage {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

.showSubPage {
  animation: showSubPage;
  animation-duration: 200ms;
}
